@use '../base/variables' as v;
@use '../base/mixins' as m;

.navegacion{
    display: flex;
    gap: 2rem;    
    align-items: center;
    @include m.tablet {
        display: flex;
        margin-top: 2rem;        
        flex-direction: column;
        gap: 1rem;
        text-align: center;      
    }
    .enlace{    
        position: relative;
        padding-bottom: .5rem;    
        font-size: 2rem;
    }
    .enlace:after{
        left: 50%; /* Posiciona el pseudo-elemento en el centro */
        position: absolute;
        transform: translateX(-50%); /* Ajusta la posición horizontal al centro */
        display: flex;
        content: ' ';
        background-color: #9ba8a8;
        width: 0;
        height: .2rem;
        transition: width .2s ease;
    }
    .enlace:hover::after {
        width: calc(100% - 2rem);
    }
}
